name : CI Pipeline
on: 
 push: 
  branches: [ "main" ]
jobs: 
 build:
  runs-on: ubuntu-latest
  steps: 
  - name: Checkout code
    uses: actions/checkout@v4
  - name: Set up Docker
    uses: docker/setup-buildx-action@v3
  - name: Build Docker Image
    run: docker build -t project2-app .
  - name: Deploy to EC2 via SSH 
    uses: appleboy/ssh-action@v1.0.3
    with: 
     host: ${{ secrets.EC2_HOST }}
     username: ${{ secrets.EC2_USER }}
     key: ${{ secrets.EC2_SSH_KEY }}
     scripts: |
      cd ~/project2-cloud-ci-cd
      git pull 
      docker rm -f project2 || true
      docker build -t project2-app .
      docker run -d -p  8000:8000 --name project2 project2-app
